.greenButton{
    display: flex;

    width: 72px;
    height: 36px;

    color: black;
    background-color: lightgreen;

    cursor: pointer;

    justify-content: center;
    align-items: center;

    border: 2px solid lightslategray;
    box-shadow: 0 2px 2px 0 #ccc;

}